
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
   
   background: linear-gradient(to bottom,  #E89A85,
        #EFB39B,
        #EFCF9C,
        #F4E3A3);
    margin: 0;
    padding: 0;
    gap: 2em;
}
.title{
    font-size: 3rem;
    color: #FFF0BE;
 
    text-shadow: 2px 2px 4px #000000;

  letter-spacing: 2px;

}
.container{
  
display: grid;
grid-template-columns: repeat(3, 100px);
gap: 10px;
flex-direction: column;

}

#gameboard{
   display: none;
  
}
.cell{
    
    width:100px ;
    height: 100px;
    background-color: #FFD6A6;
    border-radius: 1.4rem;
    box-shadow: 1px 1px 4px 1px black;
    box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  color: #350a02;
  cursor: pointer;
transition: 0.3s;
font-weight: bold;

}

.cell.x{
    /* color: #e89a85; */
    color: #924a3d;
}

.cell.o{
    color: #6b4f4f;
}

.cell:hover{
    background-color: #EFB39B;
    transform: scale(1.05);
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}
.popup-content {
    background:linear-gradient(to bottom, #efb39b,#f4e3a3);
    padding: 20px;
    border-radius: 18px;
    text-align: center;
    width: 300px;
    height: 150px;
    box-shadow: 0  12px 4px rgb(0,0,0,0.2);
    animation: showPopup 0.4s ease;
}
@keyframes showpopup {
    from {
        opacity: 0;
        transform: scale(0.8);
    }to{
        opacity: 1;
        transform: scale(1);
    }
}
.start-screen{
background-color: #e8deb9;
padding: 40px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 1.4rem;
border-radius: 18px;
box-shadow: 0 12px 25px rgb(0,0,0,0.2);
font-size: 2rem;

}
.heading{
    margin: 0;
}

#player-name{
    padding: 12px;
    width: 250px;
    font-size: 16px;
    border: 2px solid #E89A85;
    outline: none;
        
    
}
#player-name:focus{
    border-color:#e6bdad;
box-shadow: 0 0 8px #efb39b;
}

#start-game{
padding: 10px 20px;
font-size: 16px;
border-radius: 10px;
border: 1px solid #ea8063;
color: rgb(200, 163, 163);
cursor: pointer;
transition:0.3s;


}
#start-game:hover{
    background-color: #efb39b;
    transform: scale(1.05);
    color: #ffffff;
}
#winner-message{
    font-size: 24px;
    font-weight: bold;
    color :#6b4f4f;
    margin-bottom: 20px;
}
#restart{
    padding: 12px 25px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition:0.3s;
    background-color: #e89a85;
}
#restart:hover{
    background-color: #ffffff;
    border: 1px solid #e89a85;
    transform: scale(1.05);
    color: #e89a85;
    transition: 0.3s;
}

.win{
    background-color: #b9e78e;
color: #ffffff;
box-shadow: 0 0 12px #e89a85;
}

.scoreboard{
    margin-bottom: 15px;
    font-size: 20px;
    color: #4b2c2c;
    display: none;
    gap: 20px;
    justify-content: center;
    font-weight: bold;


}
.score
{
    background-color:  #FFF0BE;
    color: #000000;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 5px 8px #00000076;
}

/* ⭐ Final Popup Background */

.final-popup {

    position: fixed;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background:transparent;

    display: none;

    justify-content: center;
    align-items: center;

}
.message-btn {

    position: relative;

    padding: 12px 25px;

    font-size: 16px;

    font-weight: bold;


    border: 2px solid #99535348;
 border-radius: 16px;
    background: transparent;

      color: #ffffff;

    cursor: pointer;

    overflow: hidden;

    transition: 0.3s;

}
.message-btn::before {

    content: "";

    position: absolute;

    top: 0;
    left: 0;

    width: 0%;     /* start empty */

    height: 100%;
     
    background: linear-gradient(
        90deg,
        #FF9A86,
       #FFF0BE
    );

    transition: width 0.4s ease;

    z-index: -1;

}

.message-btn:hover::before {

    width: 100%;
   

}
.message-btn:hover{
    color: #000000;
}

.final-popup-content {

    background:rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
border: 1px solid #e89a85;
box-shadow: 0 0 20px #e89a85;
    padding: 25px;

    border-radius: 12px;

    text-align: center;

    animation: finalPop 0.5s ease;

}
/* ⭐ game over css(lose-popup) */
.lose-popup {

    position: fixed;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba(0,0,0,0.6);

    display: none;

    justify-content: center;
    align-items: center;

    z-index: 9999;

}
/* ⭐ lose popup content */
.lose-popup-content {

    background: rgba(255,255,255,0.15);

    backdrop-filter: blur(10px);

    padding: 25px;

    border-radius: 15px;

    text-align: center;

    border: 1px solid rgba(255,255,255,0.3);

}
@keyframes finalPop {

    from {

        transform: scale(0.5);
        opacity: 0;

    }

    to {

        transform: scale(1);
        opacity: 1;

    }

}
.restart-btn{
    position: relative;
    padding: 12px 25px;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid #da9292;
    border-radius: 25px;
    background: transparent;
    color: #ffffff;
    cursor: pointer;
    overflow: hidden;
}
.restart-btn::before {

    content: "";

    position: absolute;

    top: 0;
    left: 0;

    width: 0%;  

    height: 100%;

    background: linear-gradient(
        90deg,
        #bc8171,
        #cea4a4
    );

    transition: width 0.5s ease;

    z-index: -1;

}
.restart-btn:hover::before {

    width: 100%;  /* ⭐ fill on hover */

}
.restart-btn:hover{
    color: #000000;
}

@media (max-width: 600px) {
    .container {
        grid-template-columns: repeat(3, 80px);
        gap: 8px;

    }
    .cell {
        width: 80px;
        height: 80px;
        font-size: 2.5rem;
    }
    .title {
        font-size: 2rem;
    }
    .popup-content {
        width: 250px;
        height: 120px;
    
    }
    .start-screen {
        padding: 30px;
        font-size: 1.5rem;

    }
    .scoreboard {

    display: none;

    justify-content: center;

    align-items: center;

    gap: 6px;

    flex-wrap: nowrap;   

}
    .score {

    padding: 6px 8px;

    font-size: 12px;

    white-space: nowrap;   /* ⭐ keep in one line */

    min-width: 85px;       /* ⭐ very important */

    text-align: center;

}
    #restart {
        padding: 10px 20px;
        font-size: 14px;
        margin-bottom: 0;
        margin-top: 10px;
    }
    #winner-message {
        font-size: 20px;
        margin-bottom: 10px;
    }
body{
    gap: 1em;
}
}




/* 📲 Tablet devices */
@media (min-width: 601px) and (max-width: 900px) {

    h1 {
        font-size: 30px;
    }

    .cell {
        width: 85px;
        height: 85px;
        font-size: 32px;
    }

}